/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
}

body{
    font-family: Lato, sans-serif;
    font-weight: 400;
    /*font-size: 16px;*/
    line-height: 1.7;
    color: #777;
    padding: 3rem;
    box-sizing: border-box;
}



/*-------------------- Header --------------------*/

.header{
    height: 95vh;
    background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.801), rgba(40, 180, 133, 0.801)), url(../img/hero-small.jpg);
    background-size: cover;
    background-position: top;
    position: relative;

    clip-path: polygon(0 0, 100% 0, 100% 70vh, 0 100%);
}

.header__logo-box{
    position: absolute;
    top: 4rem;
    left: 4rem;
}

.header__logo{
    height: 3.5rem;
}

.header__text-box{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(50%, 80%);
    text-align: center;
}

.heading-primary{
    color: #fff;
    text-transform: uppercase;

    backface-visibility: hidden;
    margin-bottom: 6rem;
}

.heading-primary--main{
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;

    animation-name: moveInLeft;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
}

.heading-primary--sub{
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;

    animation: moveInRight 1.5s ease-out;
}

/*-------------------- Keyframes --------------------*/

@keyframes moveInLeft{
    0%{
        opacity: 0;
        transform: translateX(-10rem);
    }

    80%{
        transform: translateX(1rem);
    }

    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInRight{
    0%{
        opacity: 0;
        transform: translateX(10rem);
    }

    80%{
        transform: translateX(-1rem);
    }

    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInBottom{
    0%{
        opacity: 0;
        transform: translateY(3rem);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}

/*-------------------- Header Button --------------------*/

.btn:link,
.btn:visited{
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    position: relative;
    font-size: 1.6rem;
}

.btn:hover{
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
}

.btn:active{
    transform: translateY(-1px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, .2);
}

.btn--white{
    background-color: #fff;
    color: #777;
}

.btn::after{
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn--white::after{
    background-color: #fff;
}

.btn:hover::after{
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn--animated{
    animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards;
}

/*-------------------- Main Body Section --------------------*/

.main-body{
    height: 80%;
    width: 100%;
    display: table;

    &::after{
        content: "";
        clear: both;
    }
}

.main-body-section{
    height: 100%;
    width: 100%;
    background-color: red;

    h2{
        color: #eee;
    }

    &::after{
        content: "";
        clear: both;
    }
}

$color-primary: #f9ed69; //yellow color
$color-secondary: #f08a5d; //orange color
$color-tertiary: #b83b5e; //pink color
$color-text-dark: #333; //dark grey color
$color-text-light: #eee; //light grey color

$width-button: 150px;

@mixin style-link-text($color){
    text-decoration: none;
    text-transform: uppercase;
    color: $color;
  }

.buttons{
    float: right;
}

%btn-placeholder{
    padding: 10px;
    display: inline-block;
    text-align: center;
    border-radius: 100px;
    width: $width-button;
    
    @include style-link-text($color-text-light);
}

.btn-main{
    &:link{
      @extend %btn-placeholder;
      background-color: $color-secondary;
    }
    
    &:hover{
      background-color: darken($color-secondary, 15%);
    }
}

  .btn-hot{
    &:link{
      @extend %btn-placeholder;
      background-color: $color-tertiary;
    }
    
    &:hover{
      background-color: lighten($color-tertiary, 10%);
    }
}